@media (min-width: 768px) {
  .form-inline .form-control {
    width: 100%;
  }
  .modal-dialog {
    width: 800px;
  }
}

.progress {
  margin-bottom: 0px;
}

.pagination .active a {
  z-index: initial;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 0 !important;
  box-shadow: none;
  border-color: #d2d6de;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-radius: 0px !important;
  background-color: #001f3f !important;
  box-shadow: none !important;
  border: 1px solid #001f3f !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #ffffff !important;
}

table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important
}

table.dataTable td, table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
  text-align: center
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  padding-right: 30px
}

table.dataTable thead>tr>th:active, table.dataTable thead>tr>td:active {
  outline: none
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5
}

table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\e150"
}

table.dataTable thead .sorting_asc:after {
  content: "\e155"
}

table.dataTable thead .sorting_desc:after {
  content: "\e156"
}

table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  color: #eee
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important
}

div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after, div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none
}

div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    text-align: center
  }
}

table.dataTable.table-condensed>thead>tr>th {
  padding-right: 20px
}

table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
  top: 6px;
  right: 6px
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
  border-left-width: 0
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
  border-right-width: 0
}



.table-report tbody th, .table-report tbody td {
  border-bottom-width: 0
}



div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0
}

div.table-responsive>div.dataTables_wrapper>div.row {
  margin: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
  padding-left: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
  padding-right: 0
}

.text {
  text-align: left;
}

.number {
  text-align: right;
}

.boolen {
  text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
}

.form-detail {
  position: relative;
  background: #fff;
  border: 1px solid #f4f4f4;
  padding: 0px 15px;
  margin: 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #001f3f;
  border-color: #001f3f;
}

.skin-green-light .main-header .navbar {
  background-color: #001f3f;
}

.skin-green-light .main-header .logo {
  background-color: #f9fafc;
}

.page-header {
  margin: 10px 0 0px 0;
}

.sub-title {
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width: 768px) {   
  .sub-title {
      font-size: 21px;
  }
}

.box {
  border-top: 1px solid #d2d6de;
}

.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 30px;
}

.file-upload-btn {
  margin-top: 250px;
  margin-left: 30px;
  width: 50%;
  margin: 0;
  color: #fff;
  background: #B5B5B5;
  border: none;
  padding: 5px;
  border-radius: 4px;
  border-bottom: 4px solid #B5B5B5;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
}

.file-upload-btn:hover {
  background: #B5B5B5;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.file-upload-image {
  height: 150px;
  width: 150px;
  margin: auto;
  padding: 0px;
  border-radius: 50%;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #B5B5B5;
  position: relative;
  height: 170px;
}

.image-dropping, .image-upload-wrap:hover {
  border: 4px dashed #ffffff;
}

.image-dropping, .image-upload-wrap:hover {
  border: 4px dashed #ffffff;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #001f3f;
  padding: 60px 0;
  font-size:20px;
}

.image-title-wrap {
  padding: 0px;
  color: #222;
}

.table tr td .progress {
  margin-top: 0px;
}

.img-report{
  width:100px;
  height:100px;
  margin-left: auto
  ;margin-right: auto;
  display: block;
}

.select2-container {
  width: 100% !important;
}

.info-box-icon {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

a {
  color: #001f3f;
}

a:hover {
  color: #001f3f;
}

.skin-green-light .main-header li.user-header {
  background-color: #001f3f;
}
.nav-tabs-custom{
  margin-top: 30px;
}

.nav-tabs-custom>.nav-tabs>li.active {
  border-top-color: #001f3f;
}

.page-header-button-header {
  padding-bottom: 10px;
  margin: 10px 0 0px 0;
  font-size: 22px;
  border-bottom: 1px solid #eee;
}

.skin-green-light .main-header .logo:hover {  
  background-color: #f9fafc;
}

.bg-olive {
  background-color: #001f3f !important;
}

.skin-green-light .main-header .navbar .sidebar-toggle:hover {
  background-color: #011931;
}

input.has-warning {
  border-color: #f39c12;
  box-shadow: none;
}

select.has-warning {
  border-color: #f39c12;
  box-shadow: none;
}

span.message{
  color: #f39c12;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.has-warning .help-block {
  color: #f39c12;
  font-weight: bold
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #d81b60;
  font-weight: bold;
}
.btn-sm{
  padding: 5px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(49, 153, 225, 0.3);
  background-color: #F5F5F5;
  border-radius: 12px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color:  #011931;
  -webkit-box-shadow: inset 0 0 6px rgba(49, 153, 225, 0.5);
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  border-radius: 12px;
}

tr.row-table-header {
  background-color: #f4f4f4;
}

.ranges li {
  color: black;
  border-radius: 0px;
}

.ranges li.active {
  background-color: #001f3f;
  border: 1px solid #001f3f;
}

.ranges li :hover {
  background-color: #001f3f;
  border: 1px solid #001f3f;
}

.multiselect__tag {
  line-height: normal !important;
  border-radius: 0px !important;
}

.multiselect__tag-icon {
  line-height: 28px !important;
  border-radius: 0px !important;
}

.multiselect__tags {
  border-radius: 0px !important;
}

.custom__tag {
  display: inline-block;
  padding: 3px 12px;
  background: #41b883;
  margin-right: 8px;
  margin-bottom: 8px;
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 60px !important;
  }

  .sidebar-mini.sidebar-collapse .main-sidebar {
    width: 60px !important;
  }

  .sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span {
    font-size: 18px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    font-size: 18px;
  }
  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 250px;
    left: 60px;
  }

  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
    position: relative !important;
    float: right;
    width: auto !important;
    left: 250px !important;
    top: -22px !important;
    z-index: 900;
  }
  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 60px;
  }
}

.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
  width: 30px;
}

.sidebar-menu>li>a {
  padding-top: 18px;
  padding-bottom: 18px;
}

.sidebar-menu li>a>.pull-right-container {
  margin-top: -10px;
}

body {
  font-size: 16px;
}

.block-multiple-rows {
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  margin: 5px 1px;
  color: #29303b;
  padding-top: 5px;
  padding-bottom: 14px;
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-left {
  margin-left: 5px;
}

.margin-right {
  margin-right: 5px;
}

.padding-left {
  padding-left: 10px;
}

.padding-top {
  padding-top: 10px;
}

.padding-right {
  padding-right: 10px;
}

.box-footer-form {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 7px;
}

.btn-sm {
  padding: 5px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.confirm_delete {
  padding-left: 15px;
}

.form-control {
  height: 40px;
}